.explore {
   background-color: #030303;
   &__content {
      display: flex;
      justify-content: space-between;
      padding-top: 75px;
      padding-bottom: 75px;
      column-gap: 60px;
      @media (max-width: 1600px) {
         column-gap: 20px;
      }
      @media (max-width: $md2) {
         padding-top: 60px;
         padding-bottom: 60px;
         display: block;
      }
      @media (max-width: 768px) {
         padding-top: 40px;
         padding-bottom: 40px;
         width: 100%;
      }
   }

   &__text {
      color: #ffffff;

      p {
         font-family: Roboto;
         font-weight: 300;
         font-size: 22px;
         line-height: 38px;
         margin-bottom: 26px;
         @media (max-width: $md3) {
            margin-bottom: 0px;
            font-weight: 300;
            font-size: 20px;
         }
         &:nth-child(2) {
            @media (max-width: $md3) {
               line-height: 35px;
            }
         }
         &:last-child {
            margin-bottom: 0px;
            @media (max-width: $md3) {
               display: none;
            }
         }
         span {
            color: rgba(157, 134, 101, 1);
         }
         @media (max-width: 768px) {
            display: none;
         }
      }
   }

   &__title {
      margin-bottom: 103px;
      white-space: nowrap;
      @media (max-width: $md3) {
         margin-bottom: 83px;
      }
      @media (max-width: 768px) {
         margin-bottom: 63px;
      }
   }

   &__images {
      flex: 1 0 720px;
      position: relative;
      margin-top: 15px;
      height: 700px;
      @media (max-width: $md2) {
         margin: 60px auto 0px;
         max-width: 720px;

         height: 700px;
      }
      @media (max-width: 768px) {
         flex: 0 0 100%;
         max-width: 100%;
         height: calc(368px + 337 * ((100vw - 420px) / (768 - 420)));
         margin-top: 0;
         margin-left: 0;
         margin-right: 0;
      }
   }

   &__image {
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-repeat: no-repeat;
      background-size: cover;
      &_after {
         width: 441px;
         background-image: url("../img/explore/explore__image/01.jpg");
         z-index: 20;
         @media (max-width: 768px) {
            width: 441/728 * 100%;
            background-image: url("../img/explore/explore__image/03.jpg");
         }
         @media (max-width: 700px) {
            width: 434/728 * 100%;
         }
         @media (max-width: 420px) {
            width: 441/728 * 100%;
         }
      }

      &_before {
         width: 100%;
         background-image: url("../img/explore/explore__image/02.jpg");
         z-index: 10;
         @media (max-width: 768px) {
            background-image: url("../img/explore/explore__image/04.jpg");
         }
      }
   }
   &__curtain {
      cursor: e-resize;
      position: absolute;
      width: 40px;
      height: 100%;
      top: 0;
      left: 421px;
      z-index: 40;
      background-color: transparent;
      @media (max-width: 768px) {
         left: 421/728 * 100%;
      }
      @media (max-width: 700px) {
         left: 421/728 * 100%;
         width: 20px;
      }
      span {
         display: block;
         position: absolute;
         width: 5px;
         left: 50%;
         transform: translate(-50%, 0);
         @media (max-width: 700px) {
            width: 2px;
         }
         &:nth-child(1) {
            height: calc(50% - 20px);
            background-color: #fff;
            @media (max-width: 768px) {
               height: calc(50% - 5px);
            }
            @media (max-width: 700px) {
               height: calc(50% - 2px);
            }
         }
         &:nth-child(2) {
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background-color: transparent;
            border: 5px solid #fff;
            left: 0%;
            top: 50%;
            transform: translate(0%, -50%);
            @media (max-width: 768px) {
               top: calc(50% + 10px);
            }
            @media (max-width: 700px) {
               top: calc(50% + 7px);
               width: 20px;
               height: 20px;
               border: 2px solid #fff;
            }
         }
         &:nth-child(3) {
            bottom: 0px;
            height: calc(50% - 20px);

            background-color: #fff;
            transform: translate(-50%, 0);
            @media (max-width: 768px) {
               height: calc(50% - 25px);
            }
            @media (max-width: 700px) {
               height: calc(50% - 15px);
            }
         }
      }
   }
}
