.footer {
   background-color: #030303;
   position: relative;

   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      bottom: 124px;
      //top: 0;
      background-color: #666666;
      @media (max-width: 1023.98px) {
         height: 1px;
         bottom: 104px;
      }
   }
   &__content {
   }

   &__top {
      // display: grid;
      //  grid-template-columns: 1fr 1fr 2fr;
      position: relative;
      display: flex;
      margin-top: 86px;
      margin-bottom: 31px;
      // padding-top: 84px;
      // padding-bottom: 50px;

      justify-content: space-between;
      @media (max-width: $md3) {
         margin-top: 62px;
         margin-bottom: 36px;
      }
      @media (max-width: 1023.98px) {
         flex-direction: column;
         margin-bottom: 23px;
      }
      @media (max-width: 768px) {
         margin-top: 50px;
      }
      @media (max-width: 680px) {
         margin-top: 40px;
         margin-bottom: 0;
      }
   }

   &__logo {
      position: absolute;
      .logo__icon {
         margin-top: -1px;
         @media (max-width: 680px) {
            margin-top: 0px;
            margin-right: 21px;
         }
      }
      .logo__signature {
         @media (max-width: 680px) {
            margin-top: 2px;
         }
      }
   }

   &__nav {
      // flex: 0 0 400px;
      //  display: flex;

      margin-left: calc(239px + 100 * ((100vw - 1024px) / (1920 - 1024)));
      @media (max-width: 1023.98px) {
         margin-left: calc(298px + 100 * ((100vw - 768px) / (1023.98 - 768)));
      }
      @media (max-width: 680px) {
         margin-top: 50px;
         margin-left: 0;
      }
   }

   &__list {
      // margin-left: 89px;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      height: 150px;
      //display: grid;
      //  grid-template-rows: 1fr 1fr 1fr;
      //  grid-template-columns: 1fr 1fr;
      row-gap: 25px;

      column-gap: calc(121px + 50 * ((100vw - 1024px) / (1920 - 1024)));
      // display: flex;
      // flex-wrap: wrap;
      @media (max-width: $md3) {
         padding-top: 3px;
      }
      @media (max-width: 1023.98px) {
         column-gap: 0;
      }
      @media (max-width: 768px) {
         margin-top: 4px;
         column-gap: 95px;
      }
      @media (max-width: 680px) {
         height: 100px;
         align-items: stretch;
         row-gap: 30px;
         column-gap: 23%;
      }
      @media (max-width: 400px) {
         column-gap: 0;
         align-items: center;
      }

      li {
         a {
            font-size: 22px;
            line-height: 26px;
            letter-spacing: 2px;
            font-weight: 200;
            text-decoration: none;
            color: #fff;
            transition: color 0.3s ease 0s;
            &:hover {
               color: rgba(157, 134, 101, 1);
            }
            @media (max-width: 768px) {
               font-size: 18px;
               line-height: 21px;
            }
            @media (max-width: 680px) {
               font-size: 16px;
               line-height: 19px;
            }
         }
         &:nth-child(3) {
            @media (max-width: 680px) {
               margin-left: 6px;
            }
         }
         &:nth-child(4) {
            @media (max-width: 680px) {
               margin-left: 6px;
            }
         }
         &:nth-child(5) {
            @media (max-width: 680px) {
               margin-left: -6px;
            }
         }
         &:nth-child(6) {
            @media (max-width: 680px) {
               margin-left: -6px;
            }
         }
      }
   }

   &__contacts {
      align-self: flex-end;
      display: flex;
      padding-bottom: 25px;
      @media (max-width: $md3) {
         padding-bottom: 20px;
      }
      @media (max-width: 1023.98px) {
         align-self: flex-start;
         margin-top: 15px;
         margin-left: calc(298px + 100 * ((100vw - 768px) / (1023.98 - 768)));
      }
      @media (max-width: 680px) {
         align-self: center;
         margin-top: 12px;
         margin-left: 0;
         margin-bottom: 25px;
      }
      li {
         margin-right: 25px;
         @media (max-width: 680px) {
            margin-right: 5px;
         }
         &:last-child {
            margin-right: 0;
         }
      }
   }

   &__bottom {
      padding-bottom: 52px;
      padding-top: 50px;
      display: flex;
      justify-content: space-between;

      font-family: Roboto;
      font-style: normal;
      font-weight: 200;
      font-size: 22px;
      line-height: 22px;

      letter-spacing: 2px;

      color: #ffffff;
      @media (max-width: $md2) {
         padding-bottom: 50px;
      }
      @media (max-width: 1023.98px) {
         padding-bottom: 40px;
         padding-top: 40px;
      }
      @media (max-width: 680px) {
         font-size: 16px;
      }
      @media (max-width: 420px) {
         padding-bottom: 42px;
         padding-top: 38px;
      }

      span {
         display: block;
         white-space: nowrap;
      }
      a {
         white-space: nowrap;
         display: block;
         text-decoration: none;
         color: #ffffff;
         &:nth-child(2) {
            @media (max-width: 680px) {
               display: none;
            }
         }
      }
   }
}

.contacts-links {
   &__link {
      position: relative;
      display: block;
      width: 48px;
      height: 48px;
      border-radius: 50%;
      border: #666666 1px solid;
      transition: color 0.8s ease 0s;
      &:hover .contacts-links__icon {
         color: rgba(157, 134, 101, 1);
      }
   }

   &__icon {
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      color: #fff;
      transition: color 0.3s ease 0s;
   }

   &__icon--youtube {
      width: 23px;
      height: 16px;
   }
   &__icon--insta {
      width: 20px;
      height: 20px;
   }
   &__icon--facebook {
      width: 12.5px;
      height: 20px;
   }

   &__icon--twit {
      width: 20px;
      height: 16px;
   }

   &__icon--pent {
      width: 20px;
      height: 20px;
   }
}
