.gallery {
   background-color: #030303;

   &__content {
      padding-top: 75px;
      @media (max-width: 1400px) {
         padding-top: 60px;
      }
      @media (max-width: 768px) {
         padding-top: 40px;
      }
   }

   &__title {
      color: #ffffff;
   }

   &__columns {
      position: relative;
      margin-top: 75px;
      height: 1960px;
      overflow: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      column-gap: 36px;
      transition: all 0.8s ease 0s;

      &::after {
         content: "";
         position: absolute;
         width: 100%;
         height: 100%;
         left: 0;
         top: 0;
         background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%);
         z-index: 100;
      }
      @media (max-width: 1400px) {
         margin-top: 60px;
      }
      @media (max-width: 1024px) {
         // height: 1265px;
         height: calc(1080px + 185 * ((100vw - 768px) / (1024 - 768)));
      }
      @media (max-width: 768px) {
         grid-template-columns: 1fr 1fr;
         margin-top: 40px;
         column-gap: 24px;
         height: 1080px;
         height: calc(637px + 443 * ((100vw - 420px) / (768 - 420)));
      }
   }
   &_hs-1 {
      .gallery__columns {
         padding-top: 0;
      }
      .gallery__card {
         &:nth-child(1) {
            transform: scaleY(1);
            margin-top: 0px;
         }
      }
   }
   &_hs-2 {
      .gallery__card {
         &:nth-child(2) {
            transform: scaleY(1);
            margin-top: 0px;
         }
      }
   }
   &_hs-3 {
      .gallery__card {
         &:nth-child(3) {
            transform: scaleY(1);
            margin-top: 0px;
         }
      }
   }
   &_hs-4 {
      .gallery__card {
         &:nth-child(4) {
            transform: scaleY(1);
            margin-top: 0px;
         }
      }
   }
   &_hs-5 {
      .gallery__card {
         &:nth-child(5) {
            transform: scaleY(1);
            margin-top: 0px;
         }
      }
   }

   &__column {
      display: grid;
      row-gap: 24px;

      &:nth-child(1) {
         margin-top: 50px;
         grid-template-rows: 570px 570px 456px 570px 570px;
         @media (max-width: $md2) {
            grid-template-rows:
               calc(304px + 266 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(304px + 266 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(304px + 266 * ((100vw - 1024px) / (1520 - 1024)));
         }
         @media (max-width: $md3) {
            grid-template-rows: 304px 380px 304px 380px 304px;
         }
         @media (max-width: 768px) {
            grid-template-rows: 351px 440px 440px 351px 351px;
            grid-template-rows:
               calc(223px + 128 * ((100vw - 420px) / (768 - 420)))
               calc(223px + 217 * ((100vw - 420px) / (768 - 420)))
               calc(223px + 217 * ((100vw - 420px) / (768 - 420)))
               calc(223px + 128 * ((100vw - 420px) / (768 - 420)))
               calc(223px + 217 * ((100vw - 420px) / (768 - 420)));
         }
      }
      &:nth-child(2) {
         grid-template-rows: 456px 570px 570px 570px 570px;
         @media (max-width: $md2) {
            grid-template-rows:
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(228px + 342 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(304px + 266 * ((100vw - 1024px) / (1520 - 1024)));
         }

         @media (max-width: 768px) {
            grid-template-rows: 264px 264px 440px 352px 352px;
            grid-template-rows:
               calc(223px + 41 * ((100vw - 420px) / (768 - 420)))
               calc(178px + 86 * ((100vw - 420px) / (768 - 420)))
               calc(133px + 307 * ((100vw - 420px) / (768 - 420)))
               calc(178px + 86 * ((100vw - 420px) / (768 - 420)))
               calc(223px + 41 * ((100vw - 420px) / (768 - 420)));
         }
      }
      &:nth-child(3) {
         margin-top: 50px;
         grid-template-rows: 570px 456px 456px 456px 570px;
         @media (max-width: $md2) {
            grid-template-rows:
               calc(228px + 342 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(304px + 266 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)))
               calc(380px + 190 * ((100vw - 1024px) / (1520 - 1024)));
         }
         @media (max-width: $md3) {
            grid-template-rows: 228px 380px 304px 380px 380px;
         }
         @media (max-width: 768px) {
            display: none;
         }
      }
   }

   &__card {
      transition: all 1s ease 0s;
      transform: scaleY(0.5);
      margin-top: 700px;

      img {
         width: 100%;
         height: 100%;
         object-fit: cover;
         object-position: top;
      }
   }
}
