.header {
	background-color: #030303;
	@media (max-width: 1200px) {
		position: relative;
	}
	&__content {
		position: relative;
		padding-top: 62px;
		padding-bottom: 62px;
		display: flex;
		//justify-content: space-between;
		justify-content: flex-end;
		//align-items: center;
		@media (max-width: 1200px) {
			padding-top: 56px;
			padding-bottom: 56px;
			//height: 130px;
			position: static;
		}
		@media (max-width: 1023.98px) {
			padding-top: 46px;
			padding-bottom: 46px;
			//height: 130px;
			position: static;
		}
		@media (max-width: 767.98px) {
			padding-top: 36px;
			padding-bottom: 36px;
		}
	}

	&__logo {
		position: absolute;
		top: 50%;
		left: 0px;
		transform: translateY(-50%);
		@media (max-width: 1200px) {
			left: 20px;
		}
		@media (max-width: 1023.98px) {
			top: calc(50% + 4px);
		}
		@media (max-width: 767.98px) {
			top: 50%;
		}
	}

	&__nav {
		transition: left 0.3s ease 0s;
		@media (max-width: 1200px) {
			//display: none;
			position: absolute;
			left: -100%;
			//height: calc(100vh - 130px);
			height: 810px;
			top: 100%;
			background-color: #030303;
			z-index: 999;
			height: 585px;
			padding: 35px 122px 35px 55px;
		}
		@media (max-width: 1024px) {
			height: 585px;
		}

		@media (max-width: 1023.98px) {
			height: 861px;
		}
		@media (max-width: 768px) {
			height: 861px;
			width: 100%;
			padding-right: 55px;
		}
		@media (max-width: 767.98px) {
			height: 861px;
		}
		@media (max-width: 420px) {
			height: 544px;
		}
	}
	&__nav-icon {
		position: absolute;
		width: 8px;
		height: 12px;
		left: 110px;
		top: 0;
		display: none;
		margin-left: 27px;
		@media (max-width: 1200px) {
			display: inline-block;
		}
		@media (max-width: 1024px) {
			margin-left: 2px;
		}
		@media (max-width: 768px) {
			margin-left: 2px;
		}
	}
	&__nav._active {
		left: 0;
	}

	&__list {
		display: flex;
		@media (max-width: 1200px) {
			flex-direction: column;
			row-gap: 25px;
		}
		li {
			margin-right: 56px;
			&:last-child {
				margin-right: 0;
			}
			a {
				position: relative;
				font-size: 22px;
				line-height: 26px;
				letter-spacing: 2px;
				font-weight: 200;
				text-decoration: none;
				color: #fff;
				transition: color 0.3s ease 0s;

				@media (max-width: 1200px) {
					font-size: 20px;
					line-height: 23px;
					padding-right: 60px;
				}
				@media (max-width: 768px) {
					//width: 200px;
				}
				&:hover {
					color: rgba(157, 134, 101, 1);
				}
			}
			@media (max-width: 1200px) {
				margin: 0px 0px 0px 0px;
			}
		}
	}
}
.header {
	&__nav-images {
		display: none;
		@media (max-width: 768px) {
			border-bottom: 1px solid rgba(255, 255, 255, 0.5);
			display: grid;
			width: 100%;
			grid-template-columns: 1fr 1fr;
			grid-template-rows: 1fr 1fr;
			gap: 20px;
			margin-top: 35px;

			margin-bottom: 35px;
		}
		@media (max-width: 420px) {
			grid-template-columns: 1fr 1fr 1fr;
			grid-template-rows: 1fr;
			gap: 12.5px;
			margin-bottom: 0px;
			padding-bottom: 20px;
		}
	}

	&__nav-image {
		&:nth-child(1) {
			grid-column: 1/3;
			height: 194px;
			@media (max-width: 420px) {
				grid-column: 1/2;
				height: 95px;
			}
		}
		&:nth-child(2) {
			height: 161px;
			@media (max-width: 420px) {
				height: 95px;
			}
		}
		&:nth-child(3) {
			height: 161px;
			@media (max-width: 420px) {
				height: 95px;
			}
		}
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
	&__contacts {
		display: none;
		@media (max-width: 768px) {
			display: none;
			display: flex;
			justify-content: center;
			column-gap: 25px;
		}
		@media (max-width: 420px) {
			margin-top: 24px;
			column-gap: 5px;
		}
	}
}

.logo {
	display: flex;
	&__icon {
		width: 49px;
		height: 26px;
		color: #fff;
		display: block;
		margin-right: 25px;
		@media (max-width: 767.98px) {
			width: calc(29px + 20 * ((100vw - 420px) / (767.98 - 420)));
			height: calc(16px + 10 * ((100vw - 420px) / (767.98 - 420)));
		}
	}

	&__signature {
		text-transform: uppercase;
		color: #fff;
		font-family: "Forum";
		letter-spacing: 5px;
		font-size: 28px;
		line-height: 31px;
		@media (max-width: 767.98px) {
			font-size: calc(16px + 12 * ((100vw - 420px) / (767.98 - 420)));
			line-height: calc(17px + 14 * ((100vw - 420px) / (767.98 - 420)));
		}
	}
}

//====================================================================================================
.icon-menu {
	display: none;
	@media (max-width: 1200px) {
		display: block;
		position: relative;
		width: 32px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		margin-right: 0px;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			//background-color: #a19a9a;
			background-color: #fff;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			margin-right: -2px;
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
//====================================================================================================

/*
//Burger
.icon-menu {
	display: none;
	@media (max-width: $md3+px) {
		display: block;
		position: absolute;
		top: 18px;
		right: 10px;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span {
			transition: all 0.3s ease 0s;
			top: calc(50% - 1px);
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: #000;
			&:first-child {
				top: 0px;
			}
			&:last-child {
				top: auto;
				bottom: 0px;
			}
		}
		&._active {
			span {
				transform: scale(0);
				&:first-child {
					transform: rotate(-45deg);
					top: calc(50% - 1px);
				}
				&:last-child {
					transform: rotate(45deg);
					bottom: calc(50% - 1px);
				}
			}
		}
	}
}
*/
