.progress {
   height: 8px;
   width: 100%;
   outline: none;
   transition: background 450ms ease-in;
   -webkit-appearance: none;
   cursor: pointer;
   @media (max-width: 1400px) {
      height: 5px;
   }
   @media (max-width: 767.98px) {
      height: 4px;
   }
}
.video--loud {
   background: linear-gradient(to right, #710707 0%, #710707 40%, #c4c4c4 40%, #c4c4c4 100%);
}
.video--progress-video {
   background: linear-gradient(to right, #710707 0%, #710707 0%, #c4c4c4 0%, #c4c4c4 100%);
}

.progress::-webkit-slider-thumb {
   width: 15px;
   height: 15px;
   border-radius: 50%;
   -webkit-appearance: none;
   cursor: pointer;
   background: #fff;

   @media (max-width: 1400px) {
      width: 13px;
      height: 13px;
   }
   @media (max-width: 767.98px) {
      width: 10px;
      height: 10px;
   }
}
