.title {
   font-family: Forum;
   // font-size: 80px;
   font-size: calc(50px + 30 * ((100vw - 1024px) / (1920 - 1024)));
   font-style: normal;
   font-weight: 400;
   // line-height: 90px;
   line-height: calc(75px + 15 * ((100vw - 1024px) / (1920 - 1024)));
   letter-spacing: 5px;
   text-align: left;
   text-transform: uppercase;

   @media (max-width: 1024px) {
      font-size: calc(40px + 10 * ((100vw - 768px) / (1024 - 768)));
      line-height: calc(60px + 15 * ((100vw - 768px) / (1024 - 768)));
      // font-size: 40px;
      // line-height: 60px;
   }
   @media (max-width: 767.98px) {
      font-size: 28px;
      line-height: 40px;
   }
}
.title--ln {
   position: relative;
   &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 3px;
      left: 0;
      bottom: -27px;
      background-color: #710707;
      @media (max-width: 1200px) {
         bottom: -22px;
      }
      @media (max-width: 768px) {
         bottom: -24px;
      }
   }
}
