.welcome {
   background-color: #030303;

   &__content {
      position: relative;
      height: 810px;
      padding-top: 150px;
      @media (max-width: 1400px) {
         padding-top: 50px;
         height: 585px;
      }
      @media (max-width: 1023.98px) {
         padding-top: 0px;
         height: 861px;
      }
      @media (max-width: 767.98px) {
         padding-top: 5px;
         height: calc(544px + 262 * ((100vw - 420px) / (767.98 - 420)));
      }
   }

   &__title {
      position: relative;
      z-index: 50;
      color: #ffffff;

      @media (max-width: $md3) {
         line-height: 90px;
      }
      //line-height: 90px;
      @media (max-width: 1023.98px) {
         line-height: 60px;
         text-align: center;
      }
   }

   &__subtitle {
      position: relative;
      z-index: 50;
      margin-top: 25px;
      font-family: Roboto;
      font-style: normal;
      font-weight: 300;
      font-size: 28px;
      line-height: 33px;

      letter-spacing: 2px;

      color: #ffffff;
      @media (max-width: 1400px) {
         font-size: 24px;
         line-height: 28px;
         letter-spacing: 2px;
      }
      @media (max-width: 1023.98px) {
         font-size: 20px;
         line-height: 23px;
         text-align: center;
      }
      @media (max-width: 767.98px) {
         font-size: 16px;
         line-height: 18px;
      }
   }

   &__button {
      margin-top: 75px;
      width: 360px;
      @media (max-width: 1024px) {
         margin-top: 50px;
         width: 300px;
      }
      @media (max-width: 1023.98px) {
         display: none;
      }
   }
}
.welcome._active {
   .welcome__title,
   .welcome__subtitle,
   .welcome__button {
      display: none;
   }
}
