<section class="contacts" id='contacts'>
    <div class="contacts__content wrapper__box">
        <h2 class="contacts__title title title--ln">Contacts</h2>
        <div class="contacts__body">
            <div class="contacts__text">
                <div class="contacts__subtitle">
                    <h4>Palais Royal </h4>
                    <h4>Musee du Louvre</h4>
                </div>
                <p class="contacts__contact">address: 75001 Paris, France</p>
                <a href="tel:+33(0)140205050" class="contacts__contact">phone: +33(0) 1 40 20 50 50</a>
                <a href="mailto:info@louvre.fr" class="contacts__contact">mail: info@louvre.fr</a>
            </div>
            <div class="contacts__map" id="map">
            </div>
        </div>
    </div>
</section>