<footer class="footer">
	<div class="footer__content wrapper__box">
		<div class="footer__top">
			<div class="footer__logo logo">
				<div class="logo__icon">
					<svg viewBox="0 0 49 26">
						<use xlink:href='img/sprite.svg#logo' />
					</svg>
				</div>
				<h2 class="logo__signature">Louvre</h2>

			</div>
			<nav class="footer__nav">
				<ul class="footer__list">
					<li><a href="#visiting">Visiting</a></li>
					<li><a href="#explore">Explore</a></li>
					<li><a href="#video">Video</a></li>
					<li><a href="#gallery">Gallery</a></li>
					<li><a href="#tickets">Tickets</a></li>
					<li><a href="#contacts">Contacts</a></li>
				</ul>
			</nav>
			<ul class="footer__contacts contacts-links">
				<li><a href="https://www.youtube.com/user/louvre" target="_blank" class="contacts-links__link">
						<svg class="contacts-links__icon contacts-links__icon--youtube" viewBox="0 0 23 16">
							<use xlink:href='img/sprite.svg#youtube' />
						</svg>
					</a>
				</li>
				<li><a href="https://www.instagram.com/museelouvre/" target="_blank" class="contacts-links__link">
						<svg class="contacts-links__icon contacts-links__icon--insta" viewBox="0 0 21 20">
							<use xlink:href='img/sprite.svg#insta' />
						</svg>
					</a>
				</li>
				<li><a href="https://www.facebook.com/museedulouvre" target="_blank" class="contacts-links__link">
						<svg class="contacts-links__icon contacts-links__icon--facebook" viewBox="0 0 13 20">
							<use xlink:href='img/sprite.svg#facebook' />
						</svg>
					</a>
				</li>
				<li><a href="http://twitter.com/museelouvre" target="_blank" class="contacts-links__link">
						<svg class="contacts-links__icon contacts-links__icon--twit" viewBox="0 0 20 17">
							<use xlink:href='img/sprite.svg#twit' />
						</svg>
					</a>
				</li>
				<li><a href="https://www.pinterest.fr/museedulouvre/" target="_blank" class="contacts-links__link">
						<svg class="contacts-links__icon contacts-links__icon--pent" viewBox="0 0 20 20">
							<use xlink:href='img/sprite.svg#pent' />
						</svg>
					</a>
				</li>
			</ul>
		</div>
		<div class="footer__bottom">
			<span>© 2021</span>
			<a href="https://rs.school/js/" target="_blank" style="margin-left: 50px;">The Rolling Scopes School</a>
			<a href="https://github.com/Arthur-Ming" target="_blank">Arthur-Ming</a>
		</div>

	</div>
</footer>