<section class="gallery" id='gallery'>
    <div class="gallery__content wrapper__box">
        <h2 class="gallery__title title">Art Gallery</h2>
        <div class="gallery__columns">
            <div class="gallery__column">
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/01.jpg" alt="cart7">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/02.jpg" alt="cart8">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/03.jpg" alt="cart9">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/04.jpg" alt="cart10">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/05.jpg" alt="cart11">
                </div>
            </div>
            <div class="gallery__column">
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/06.jpg" alt="cart12">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/07.jpg" alt="cart13">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/08.jpg" alt="cart14">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/09.jpg" alt="cart15">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/10.jpg" alt="cart16">
                </div>
            </div>
            <div class="gallery__column">
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/11.jpg" alt="cart17">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/12.jpg" alt="cart18">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/13.jpg" alt="cart19">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/14.jpg" alt="cart20">
                </div>
                <div class="gallery__card">
                    <img src="img/gallery/gallery__card/15.jpg" alt="cart21">
                </div>
            </div>
        </div>
    </div>
</section>