<section class="tickets" id='tickets'>
    <div class="tickets__content wrapper__box">
        <h2 class="tickets__title title title--ln">BUY TICKETS</h2>
        <div class="tickets__body">
            <div class="tickets__image">
                <img src="img/tickets/tickets__image/01.png" alt="cart22">
            </div>
            <div class="tickets__forms">
                <div class="tickets__column">
                    <h4>Ticket Type</h4>
                    <form class="form tickets__radio">
                        <label class="radio form__control">
                            <input type="radio" class="radio__input" name="radio" value="1" checked>
                            <span class="radio__state">
                                <span class="radio__control">
                                    <span class="radio__checked">
                                    </span>
                                </span>
                                <span class="radio__legend">Permanent exhibition</span>
                            </span>
                        </label>
                        <label class="radio form__control">
                            <input type="radio" class="radio__input" name="radio" value="2">
                            <span class="radio__state">
                                <span class="radio__control">
                                    <span class="radio__checked">
                                    </span>
                                </span>
                                <span class="radio__legend">Temporary exhibition</span>
                            </span>
                        </label>
                        <label class="radio form__control">
                            <input type="radio" class="radio__input" name="radio" value="3">
                            <span class="radio__state">
                                <span class="radio__control">
                                    <span class="radio__checked">
                                    </span>
                                </span>
                                <span class="radio__legend">Combined Admission</span>
                            </span>
                        </label>
                    </form>

                </div>
                <div class="tickets__column">
                    <h5>Amount</h5>

                    <form class="form tickets__quantitis">
                        <p>Basic 18+</p>
                        <div class="quantity tickets__quantity _basic">
                            <button class="quantity__button quantity__button_minus"></button>
                            <div class="quantity__input">
                                <input autocomplete="off" type="number" name="form[]" value="1">
                            </div>
                            <button class="quantity__button quantity__button_plus"></button>
                        </div>
                    </form>

                    <form class="form tickets__quantitis">
                        <p>Senior 65+</p>
                        <div class="quantity tickets__quantity _senior">
                            <button class="quantity__button quantity__button_minus"></button>
                            <div class="quantity__input">
                                <input autocomplete="off" type="number" name="form[]" value="1">
                            </div>
                            <button class="quantity__button quantity__button_plus"></button>
                        </div>
                    </form>
                    <h6>Total €<span></span><span class="total-price">220</span></h6>
                    <button class="tickets__button" id="tickets-button">
                        <span class='tickets__button-text'>Buy Now</span><!-- <span id='point'></span> -->
                    </button>
                </div>
            </div>
        </div>
    </div>
</section>