<section class="video" id='video'>
    <div class="video__content wrapper__box">
        <h2 class="video__title" style="display: none;">video</h2>
        <div class="video__header">
            <div class="video__title title">Video journey</div>
            <p class="video__text">Enter and visit one of the most famous museums in the world and enjoy
                masterpieces such as Mona Lisa or Hammurabi's Code</p>
        </div>
        <div class="videoslider swiper fs_section" id="fs_section_video">
            <div class="video__current-speed">1.25</div>
            <button class="video__start">
                <svg viewBox="0 0 220 220">
                    <use xlink:href='img/sprite.svg#video-start' />
                </svg>
            </button>
            <div class="videoslider__wrapper swiper-wrapper">
                <div class="videoslider__item swiper-slide">
                    <video class="video" poster="img/videoslider/videoslider__item/01.jpg" id="vd">
                        <source src="video/01.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="videoslider__item swiper-slide">
                    <video class="video" poster="img/videoslider/videoslider__item/02.jpg">
                        <source src="video/02.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="videoslider__item swiper-slide">
                    <video class="video" poster="img/videoslider/videoslider__item/03.jpg">
                        <source src="video/03.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="videoslider__item swiper-slide">
                    <video class="video" poster="img/videoslider/videoslider__item/04.jpg">
                        <source src="video/04.mp4" type="video/mp4">
                    </video>
                </div>
                <div class="videoslider__item swiper-slide">
                    <video class="video" poster="img/videoslider/videoslider__item/05.jpg">
                        <source src="video/05.mp4" type="video/mp4">
                    </video>
                </div>
            </div>
            <div class="videoslider__panel">
                <button class="video__icon video__icon--icon3 " id='video-toggle'>
                    <svg viewBox="0 0 23 31" class="video__icon_play">
                        <use xlink:href='img/sprite.svg#play' />
                    </svg>
                    <svg viewBox="0 0 21 30" class="video__icon_pause">
                        <use xlink:href='img/sprite.svg#pause' />
                    </svg>
                </button>

                <input type="range" value="0" min="0" max="100" step="0.1" class="progress video--progress-video">
                <button class="video__icon video__icon--icon1" id='volume-toggle'>
                    <svg viewBox="0 0 38 31" class="video__icon_volume">
                        <use xlink:href='img/sprite.svg#volume' />
                    </svg>
                    <svg viewBox="0 0 36 30" class="video__icon_not-volume">
                        <use xlink:href='img/sprite.svg#not-vol' />
                    </svg>
                </button>

                <input type="range" value="40" min="0" max="100" step="1" class="progress video--loud">

                <button class="video__icon video__icon--icon2" id='fs-button'>
                    <svg viewBox="0 0 35 35" class="video__icon_screen">
                        <use xlink:href='img/sprite.svg#fullscreen' />
                    </svg>
                    <svg viewBox="0 0 36 36" class="video__icon_not-screen">
                        <use xlink:href='img/sprite.svg#not-fullscreen' />
                    </svg>
                </button>

            </div>
        </div>
        <div class="videoslider2 swiper">
            <div class="videoslider__wrapper swiper-wrapper">
                <div class="videoslider__item swiper-slide">
                    <iframe class="videoslider__video-item" allowfullscreen
                        src="https://www.youtube.com/embed/zp1BXPX8jcU?rel=0&enablejsapi=1">
                    </iframe>
                </div>
                <div class="videoslider__item swiper-slide">
                    <iframe class="videoslider__video-item" allowfullscreen
                        src="https://www.youtube.com/embed/Vi5D6FKhRmo?rel=0&enablejsapi=1">
                    </iframe>
                </div>
                <div class="videoslider__item swiper-slide">
                    <iframe class="videoslider__video-item" allowfullscreen
                        src="https://www.youtube.com/embed/NOhDysLnTvY?rel=0&enablejsapi=1">
                    </iframe>
                </div>
                <div class="videoslider__item swiper-slide">
                    <iframe class="videoslider__video-item" allowfullscreen
                        src="https://www.youtube.com/embed/aWmJ5DgyWPI?rel=0&enablejsapi=1">
                    </iframe>
                </div>
                <div class="videoslider__item swiper-slide">
                    <iframe class="videoslider__video-item" allowfullscreen
                        src="https://www.youtube.com/embed/2OR0OCr6uRE?rel=0&enablejsapi=1">
                    </iframe>
                </div>
            </div>
        </div>
        <div class="video__navigation">
            <button class="video__prev">
                <svg viewBox="0 0 10 12">
                    <use xlink:href='img/sprite.svg#vprev' />
                </svg>
            </button>
            <div class="videoslider2-pagination"></div>
            <button class="video__next">
                <svg viewBox="0 0 10 12">
                    <use xlink:href='img/sprite.svg#vnext' />
                </svg>
            </button>
        </div>
    </div>
</section>