<section class="visiting" id="visiting">
    <div class="visiting__content wrapper__box">
        <h2 class="visiting__title title title--ln">Virtual tour</h2>
        <div class="visiting__carts">
            <a href="tours/tour1.html" class="visiting__cart cart" target="_blank">
                <figure>
                    <div class="cart__img"><img src="img/visiting/visiting__cart/01.jpg" alt="cart1"></div>
                    <figcaption class="cart__sign">
                        <h3>Royal Palace</h3>
                        <h4>360° Virtual Tour</h4>
                        <h5>Google Street Panorama View
                        </h5>
                    </figcaption>
                </figure>
            </a>
            <a href="tours/tour2.html" class="visiting__cart cart" target="_blank">
                <figure>
                    <div class="cart__img"><img src="img/visiting/visiting__cart/02.jpg" alt="cart2"></div>
                    <figcaption class="cart__sign">
                        <h3>Denon Wing</h3>
                        <h4>360° Virtual Tour</h4>
                        <h5>Google Street Panorama View
                        </h5>
                    </figcaption>
                </figure>
            </a>
            <a href="tours/tour3.html" class="visiting__cart cart" target="_blank">
                <figure>
                    <div class="cart__img"><img src="img/visiting/visiting__cart/03.jpg" alt="cart3"></div>
                    <figcaption class="cart__sign">
                        <h3>Colonnade Perrault</h3>
                        <h4>360° Virtual Tour</h4>
                        <h5>Google Street Panorama View
                        </h5>
                    </figcaption>
                </figure>
            </a>
            <a href="tours/tour4.html" class="visiting__cart cart" target="_blank">
                <figure>
                    <div class="cart__img"><img src="img/visiting/visiting__cart/04.jpg" alt="cart4"></div>
                    <figcaption class="cart__sign">
                        <h3>Greek hall</h3>
                        <h4>360° Virtual Tour</h4>
                        <h5>Google Street Panorama View
                        </h5>
                    </figcaption>
                </figure>
            </a>
            <a href="tours/tour5.html" class="visiting__cart cart" target="_blank">
                <figure>
                    <div class="cart__img"><img src="img/visiting/visiting__cart/05.jpg" alt="cart5"></div>
                    <figcaption class="cart__sign">
                        <h3>Mona Lisa</h3>
                        <h4>360° Virtual Tour</h4>
                        <h5>Google Street Panorama View
                        </h5>
                    </figcaption>
                </figure>
            </a>
            <a href="tours/tour6.html" class="visiting__cart cart" target="_blank">
                <figure>
                    <div class="cart__img"><img src="img/visiting/visiting__cart/06.jpg" alt="cart6"></div>
                    <figcaption class="cart__sign">
                        <h3>Night Palace</h3>
                        <h4>360° Virtual Tour</h4>
                        <h5>Google Street Panorama View
                        </h5>
                    </figcaption>
                </figure>
            </a>
        </div>
    </div>
</section>