<section class="welcome">
    <div class="welcome__content wrapper__box">
        <h2 class="welcome__title title">Welcome</h2>
        <h2 class="welcome__title title">to the Louvre</h2>
        <h3 class="welcome__subtitle">From the castle to the museum</h3>
        <a href="tours/tour7.html" class="welcome__button butn butn-start" target="_blank">
            <span>Discover the Louvre</span>
        </a>
        <div class="welcome-slider swiper">
            <div class="welcome-slider__wrapper swiper-wrapper">
                <div class="welcome-slider__item swiper-slide"
                    style=' background: url("img/welcome/1.jpg") 0 0 / cover no-repeat'>
                </div>
                <div class="welcome-slider__item swiper-slide"
                    style=' background: url("img/welcome/2.jpg") 0 0 / cover no-repeat'></div>
                <div class="welcome-slider__item swiper-slide"
                    style=' background: url("img/welcome/3.jpg") 0 0 / cover no-repeat'></div>
                <div class="welcome-slider__item swiper-slide"
                    style=' background: url("img/welcome/4.jpg") 0 0 / cover no-repeat'>></div>
                <div class="welcome-slider__item swiper-slide"
                    style=' background: url("img/welcome/5.jpg") 0 0 / cover no-repeat'>></div>
            </div>
        </div>
        <div class="welcome-slider__block">
            <span class="pagination">
                <span class="pagination-current">01</span>|
                <span class="pagination-total">05</span>

            </span>
            <div class="swiper-pagination"></div>
            <div class="welcome-slider__buttons">
                <button class="swiper-button-prev">
                    <svg viewBox="0 0 30 8">
                        <use xlink:href='img/sprite.svg#prev' />
                    </svg>
                </button>
                <button class="swiper-button-next">
                    <svg viewBox="0 0 30 8">
                        <use xlink:href='img/sprite.svg#next' />
                    </svg>
                </button>
            </div>
        </div>
    </div>
</section>